.field-label-inline {
  margin: rhythm(1) 0;

  .field-label {
    width: 100px;
  }
}

.field-name-field-tags {
  width: 100%;
  border-top: solid 1px darken(color(tertiary-light), 10%);
  border-bottom: solid 1px darken(color(tertiary-light), 10%);
  padding: rhythm(.5) 0;
  margin: rhythm(.5) 0;
  display: block;

  div {
    display: inline;
  }

  .field-item {
    &:before {
      content: ', ';
    }

    &:first-child:before {
      content: '';
    }
  }
}

.field-type-file {
  img,
  a {
    display: inline-block;
  }
}

// Publications
.field-name-field-subtitle {
  font-family: $font-body-bold;
}

.field-name-field-date.field-label-inline .field-label {
  width: auto;
}

// Field label above.
.field-label-above,
%field-label-above {
  margin-bottom: rhythm(.4);
}
