#footer-top {
  background: color(grey-off-white);
  padding: ($gutter - 4px) $half-gutter $gutter;

  .block {
    margin: 0;
    @include output-rhythm(padding, rhythm(0.5) $half-gutter);

    ul,
    li {
      @include list-unstyled();
    }
  }

  a:link,
  a:visited {
    color: color(grey-extra-dark);
  }

  .block-menu,
  .block-govcms-social-links {
    @include bp-nq($medium) {
      width: 25%;
      float: left;
    }
  }

  @include print-none();
}
