// Header
//
// Markup: header.html
//
// Styleguide 4.2

.header,
%header {
  @extend %clearfix;
  position: relative;
  padding: 25px $gutter;
}

.header__logo,
%header__logo {
  margin: 0;

  @include bp-nq($medium) {
    float: left;
    max-width: 50%;
  }
}

.header__logo-image,
%header__logo-image {
  vertical-align: top;

  @include bp-nq($large) {
    max-height: 75px;
  }
}

.header__secondary-menu,
%header__secondary-menu {
  margin: $half-gutter 0;

  @include bp-nq($small) {
    position: absolute;
    top: $half-gutter;
    right: $gutter;
    margin: 0;
    text-align: right;
  }

  @include bp-nq($medium) {
    position: static;
    float: right;
    max-width: 50%;
  }

  a:link,
  a:visited {
    color: color(grey-extra-dark);
  }
}

.header__secondary-menu-list,
%header__secondary-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header__secondary-menu-list-item,
%header__secondary-menu-list-item {
  @include bp-nq($small) {
    padding: 0 0 0 20px;
    display: inline-block;
  }

  @include bp-nq($medium) {
    padding-left: 30px;
  }

  &:first-child {
    padding: 0;
  }
}

.header__region,
%header__region {
  margin: rhythm(1) 0 0;

  @include bp-nq($medium) {
    clear: right;
    float: right;
  }
}

.header__region-item,
%header__region-item {
  @include bp-nq($small) {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;

    &:last-child {
      margin-left: 0;
    }
  }
}


// Fugly selectors.
.header__secondary-menu-list li {
  @extend %header__secondary-menu-list-item;
}

.header {
  .block-search-api-page,
  .block-agov-text-resize {
    @extend %header__region-item;
  }
}

div.block-search-api-page div form.search-form-widget div div button#edit-submit-1 {
  min-height:30px;
}
