// Listing
//
// Markup: listing.html
//
// Styleguide 4.10

.listing,
%listing {
  @extend %clearfix;
  margin: 0 0 30px;
  padding: 30px 0 0;
  border-top: 2px solid color(border);

  p {
    @extend %listing__text;
  }
}

.listing__image,
%listing__image {
  margin: 0 20px 15px 0;

  @include bp-nq($small) {
    float: left;
    margin: 0 20px 10px 0;
  }
}

.listing__title,
%listing__title {
  @extend %h2;

  @include bp-nq($small) {
    margin: -9px 0 0;
  }

  a {
    @extend %listing__title-link;
  }
}

.listing__title-link,
%listing__title-link {
  &,
  &:visited {
    color: color(black);
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: color(blue);
    text-decoration: underline;
  }
}

.listing__lede,
%listing__lede {
  @extend %lede;
}

.listing__text,
%listing__text {
  @include rhythm-off();
}

.listing__date,
%listing__date {
  @include adjust-font-size-to(13px);
  color: color(grey-dark);
  text-transform: uppercase;
}


// Fugly selectors.

//.pane-block,
.page-views {
  .view-header {
    @extend %listing__lede;
  }
}

.node-teaser {
  @extend %listing;

  h2 {
    @extend %listing__title;
  }

  .field-type-image {
    @extend %listing__image;
  }

  .field-name-post-date {
    @extend %listing__date;
  }
}

.search-results {
  li {
    @extend %listing;
  }

  h3.title {
    @extend %listing__title;
  }
}
