// Mission
//
// Mission statement styling.
//
// Markup: mission.html
//
// Styleguide 4.5

.mission,
%mission {
  @extend %clearfix;
  @include output-rhythm(margin, 0 0 rhythm(1));
  // Constrain the clearfix to only clear its children (not siblings.)
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 2px solid color(border);
  border-top: 2px solid color(border);
}

.mission__title,
%mission__title {
  @include adjust-font-size-to(18px, .8);
  float: left;
  position: relative;
  width: 95px;
  height: 61px;
  margin: 5px 0;
  padding: 0.75em 0.8em;
  color: color(blue-text-alt);
  background-color: color(grey-extra-light);
  text-transform: uppercase;
  font-family: $font-body;

  &:after {
    width: 19px;
    height: 60px;
    position: absolute;
    top: 1px;
    left: 95px;
    content: '';
    background: image-url('mission-arrow.png') no-repeat;
  }
}

.mission__statement,
%mission__statement {
  @extend %h2;
  @include adjust-leading-to(34px/$base-line-height);
  margin: 0 0 0 125px;

  p {
    margin: 0;
  }
}
