// Pagers
//
// Styleguide 4.11

// Mini pager
//
// Styleguide 4.11.1

.pager,
%pager {
  @extend %unstyled-list;
  clear: both;
  text-align: center;
}

.pager__item,
%pager__item {
  display: inline;
  margin: 0;
  padding: .5em;
  list-style-type: none;
  background-image: none;
}

.pager__item-current,
%pager__item-current {
  font-weight: 700;
}

.pager__link,
%pager__link {
  // The li parent will handle spacing.
  margin: 0;
  // We do not need as much horizontal space on these items.
  padding-right: .75em;
  padding-left: .75em;
}


// Fugly selectors.

.pager {
  li {
    @extend %pager__item;

    &.pager-current {
      @extend %pager__item-current;
    }
  }

  a {
    @extend %pager__link;
  }
}
