// Page wrapper
//
// Simple page wrapper styling.
//
// Markup: page-wrapper.html
//
// .page-wrapper--with-ipe - With Panels IPE variation.
//
// Styleguide 4.1

.page-wrapper,
%page-wrapper {
  margin: {
    top: 25px;
    bottom: 50px;
  }
  outline: 1px solid color(border);
  background-color: color(white);

  @media print {
    margin: 0;
    border: none;
    background: transparent;
  }

  // Increase the bottom margin when Panels IPE is being used.
  &--with-ipe {
    margin-bottom: 70px;

    @media print {
      margin-bottom: 0;
    }
  }
}

// Fugly selectors.
.panels-ipe .page-wrapper {
  @extend %page-wrapper--with-ipe;
}
