// Text resize
//
// Markup: text-resize.html
//
// Styleguide 4.2.1

.text-resize,
%text-resize {
  @extend %unstyled-list;
  @extend %clearfix;
  display: none;

  @include bp-nq($small) {
    display: inline-block;
    vertical-align: top;
  }
}

.text-resize__item,
%text-resize__item {
  float: left;
  margin-left: -1px;

  &:first-child {
    margin-left: 0;
  }
}

.text-resize__small-text,
%text-resize__small-text {
  @include hide-text;
  display: inline-block;
  width: $header-button-height;
  height: $header-button-height;
  border: 1px solid color(grey-light);
  background-image: image-url('text-resize.png');
  background-repeat: no-repeat;
  vertical-align: top;
}

.text-resize__large-text,
%text-resize__large-text {
  background-position: 0 -32px;
}

.text-resize__reset-text,
%text-resize__reset-text {
  background-position: 0 -64px;
}

.text-resize__large-body,
%text-resize__large-body {
  @include adjust-font-size-to(18px);
}


// Fugly selectors.
.text-resize {
  li {
    @extend %text-resize__item;
  }

  a {
    @extend %text-resize__small-text;

    &.font-large {
      @extend %text-resize__large-text;
    }

    &.reset {
      @extend %text-resize__reset-text;
    }
  }
}

body.large-fonts {
  @extend %text-resize__large-body;
}
