div.region-header div#block-bean-govcms-logo {
    float: right;
}

div.region-header div#block-bean-govcms-logo img {
    max-width: 90px;
    width: 90px;
    margin-left: 15px;
}

div.region-header div#block-search-api-page-default-search {
    /*width: 280px;*/
    margin-top: 25px;
    margin-right: 0px;
}

header div.header__region {
    margin: 0;
}

header .header__logo-image {
    max-height: inherit;
}

div.view-latest-news div.view-content div.views-row div.node {
    padding: 20px;
}

div.region-navigation, div.navigation-wrapper {
    border-top: 2px solid #74c29f;
    background: linear-gradient(#33434a, #37424a) repeat scroll 0 0 #37424a;
}

.navigation, .region-navigation .block__content > .menu {
    background-color: #37424a;
}

.navigation__primary-link.is-active:before, .navigation__primary-item:focus > a:before, .navigation__primary-item:hover > a:before, .region-navigation .block__content > .menu > li:focus > a:before, .region-navigation .block__content > .menu > li:hover > a:before, .region-navigation .block__content > .menu > li.active-trail > a:before {
    border-top: 4px solid #74c29f;
}

.navigation__link.is-active:before, .navigation__link:focus:before, .navigation__link:hover:before, .region-navigation .block__content > .menu li li a:focus:before, .region-navigation .block__content > .menu li li a:hover:before, .region-navigation .block__content > .menu li li a.active:before {
    /*border-left-color: #000000;*/
}

/*div.video-container-custom {
    background-color: #f5f5f5;
    margin: 0;
    padding: 5px;
}

div.video-container-custom div.group-left {
    float: left;
    width: 620px;
    max-height: 351px;
}

div.video-container-custom div.group-right {
    float: right;
    padding-left: 0;
    width: 300px;
}

div.video-container-custom div.group-right .field-name-field-read-more a {
    border-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #231f20;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-height: 40px;
    overflow: visible;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}

div.video-container-custom div.group-right .field-name-field-read-more a:before {
    background-color: #74c29f;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
}

div.video-container-custom div.group-right .field-name-field-read-more a:hover{
    border-color:#062e7f;
    border-left-color:#74c29f;
    color:#fff;
    background-color:#37424a;
}

div.video-container-custom div.group-right .field-name-field-read-more a:hover::before{
    background-color:#74c29f;
}*/

article.view-mode-full img.media-element {
    float: inherit;
}

table.pricing_table {
    border-top: none;
    border-left: none;
    border-bottom: solid white 1.5pt;
    border-right: solid white 1.0pt;
    color: #002776;
}

table.pricing_table td {
    border-top: none;
    border-left: none;
    border-bottom: solid white 1.5pt;
    border-right: solid white 1.0pt;
}

table.pricing_table tr.plan_details {
    background: #00a1de;
    color: #ffffff;
}

table.pricing_table tr.plan_total {
    background: #ccecff;
    font-weight: bold;
}

table.pricing_table tr.plan_total {
    background: #ccecff;
}

table.pricing_table tr.pageviews {
    background: #ccecff;
}

table.pricing_table tr.acquia {
    background: #ecffc3;
}

table.pricing_table tr.finance {
    background: #ecffc3;
}

table.pricing_table tr.one_off {
    background: #d8d8d8;
}

table.pricing_table tr.per_website {
    background: #ccecff;
}

table.pricing_table tr.suited_to {
    background: #f2f2f2;
}

table.pricing_table tr.pricing_foot {
    background: #f2f2f2;
}

/*==========PLANS AND PRICING==============*/

/* Animation */

div.fancyTableRow {

}

div.prices .fancyTableCell .planFeatures ul li {
    padding: 5px;
}

div.prices .fancyTableCell {
    min-height: 500px;
}

.fancyTableCell {
    /*-moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;*/
    width: 45%;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    min-height: 548px;
}

.fancyTableCellLeft {
    float: left;
}

.fancyTableCellRight {
    float: right;
}

.fancyTableCell:hover {
    /*-moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);*/
    z-index: 2;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.fancyTableCell .planName {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.fancyTableCell .price {
    background: #2cc76a;
    padding: 5px;
    color: #FFF;
    font-size: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    position: relative;
    margin-top: -107px;
    margin-bottom: 10px;
}

.fancyTableCell.Recommended .price {
    background: #f45c57;
}

.fancyTableCell .planName h3 {
    color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.fancyTableCell .planName p {
    color: #999;
    text-align: center;
}

.fancyTableCell .planFeatures {
    text-align: center;
    padding: 10px;
}

.fancyTableCell .planFeatures ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fancyTableCell .planFeatures ul li {
    padding: 13px 0;
    list-style: none;
}

.fancyTableCell p {
    margin: 0;
}

.fancyTableCell .btn {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*========= Price CSS==============*/

.template4 {
    overflow: hidden;
    margin-bottom: 40px;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    border-top: 5px solid #74c29f;
    /*transition: all 0.4s linear 0s;*/
    background: #fff;
}

.template4:hover {
    /*border-top: 0px solid #1B253B;*/
    /*transition: all 0.4s linear 0s;*/
}

.template4:hover > p a {
    width: 100% !important;

}

.template4:hover > div span.price {
    top: 50px;
    /*transition: all 0.4s linear 0s;*/
}

.fancyTableCell.template4 .planName h3 {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.fancyTableCell.template4 .price {
    background: none repeat scroll 0 0 #2CC76A;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    margin: -50px auto 10px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.fancyTableCell.template4 .btn {
    border-radius: 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
    color: #fff;
    font-size: 15px;
    padding: 20px 30px;
    background: #1B253B; /* Old browsers */
    /*-webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;*/
}

.fancyTableCell.template4 .btn:hover {
    background: #1B253B !important; /* Old browsers */
    /*-webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;*/
}

.span3.fancyTableCell.template4 > p {
    text-align: center;
}

.fancyTableCell.template4 .price {
    background: linear-gradient(#33434a, #37424a) repeat scroll 0 0 #37424a;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 40px;
    line-height: 40px;
    padding: 5px;
    position: absolute;
    left: 0;
    /*top: -150px;*/
    width: 100%;
    /*transition: all 0.4s linear 0s;*/
}

.fancyTableCell img.media-element {
    margin: inherit;
}

.orange {
    color: #fba826;
}

.template4 .planFeatures {
    color: #333333;
}

.template4 .read-more {
    text-align: center;
}

.template4 .read-more a {
    border-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #231f20;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-height: 40px;
    overflow: visible;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}

.template4 .read-more a:before {
    background-color: #74c29f;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
}

.template4 .read-more a:hover {
    border-color: #062e7f;
    border-left-color: #74c29f;
    color: #fff;
    background-color: #37424a;
}

.template4 .read-more a:hover::before {
    /*background-color:#82c341;*/
    /*background-color: #37424a;*/
    background-color: #74c29f;
}

.template4 ul li.page_views {
    font-size: 16px;
    font-weight: bold;
}

.region-footer-bottom {
    border-bottom: 4px solid #74c29f;
}

#block-agov-text-resize-text-resize {
    display: none;
}

.navigation__link.is-active:before, .navigation__link:focus:before, .navigation__link:hover:before, .region-navigation .block__content > .menu li li a:focus:before, .region-navigation .block__content > .menu li li a:hover:before, .region-navigation .block__content > .menu li li a.active:before {
    border-color: #74c29f;
}

.menu-block-agov_menu_block-sidebar .menu .menu__link.active, .latest-news:before {
    border-color: #74c29f;
}

.button:before, button:before, html input[type="button"]:before, input[type="reset"]:before, input[type="submit"]:before, .slide-show__read-more-link:before, #block-views-slideshow-block .field-name-field-read-more a:before {
    background-color: #74c29f;
}

.button:before, button:before, html input[type="button"]:before, input[type="reset"]:before, input[type="submit"]:before, .slide-show__read-more-link:before, #block-views-slideshow-block .field-name-field-read-more a:before {
    background-color: #74c29f;
}

.button:focus::before, .button:hover::before, button:focus::before, html input[type="button"]:focus::before, input[type="reset"]:focus::before, input[type="submit"]:focus::before, .slide-show__read-more-link:focus::before, #block-views-slideshow-block .field-name-field-read-more a:focus::before, button:hover::before, html input[type="button"]:hover::before, input[type="reset"]:hover::before, input[type="submit"]:hover::before, .slide-show__read-more-link:hover::before, #block-views-slideshow-block .field-name-field-read-more a:hover::before {
    background-color: #74c29f;
}

.button:focus, .button:hover, button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .slide-show__read-more-link:focus, #block-views-slideshow-block .field-name-field-read-more a:focus, button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, .slide-show__read-more-link:hover, #block-views-slideshow-block .field-name-field-read-more a:hover {
    background-color: #37424a;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(n) .bean-image-and-text.landing_page h2:after, .panel-col-bottom .panel-pane:nth-of-type(n) .bean-image-and-text.landing_page h2:after, .panel-col-middle .panel-pane:nth-of-type(n) .bean-image-and-text.landing_page h2:after {
    background-color: #74c29f;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(2n) .bean-image-and-text.landing_page h2:after, .panel-col-bottom .panel-pane:nth-of-type(2n) .bean-image-and-text.landing_page h2:after, .panel-col-middle .panel-pane:nth-of-type(2n) .bean-image-and-text.landing_page h2:after {
    background-color: #74c29f;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(3n) .bean-image-and-text.landing_page h2:after, .panel-col-bottom .panel-pane:nth-of-type(3n) .bean-image-and-text.landing_page h2:after, .panel-col-middle .panel-pane:nth-of-type(3n) .bean-image-and-text.landing_page h2:after {
    background-color: #74c29f;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(4n) .bean-image-and-text.landing_page h2:after, .panel-col-bottom .panel-pane:nth-of-type(4n) .bean-image-and-text.landing_page h2:after, .panel-col-middle .panel-pane:nth-of-type(4n) .bean-image-and-text.landing_page h2:after {
    background-color: #74c29f;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(n) .bean-image-and-text.landing_page div.image-title:hover h2:after, .panel-col-bottom .panel-pane:nth-of-type(n) .bean-image-and-text.landing_page:hover h2:after, .panel-col-middle .panel-pane:nth-of-type(n) .bean-image-and-text.landing_page:hover h2:after {
    background-color: #37424a;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(2n) .bean-image-and-text.landing_page div.image-title:hover h2:after, .panel-col-bottom .panel-pane:nth-of-type(2n) .bean-image-and-text.landing_page:hover h2:after, .panel-col-middle .panel-pane:nth-of-type(2n) .bean-image-and-text.landing_page:hover h2:after {
    background-color: #37424a;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(3n) .bean-image-and-text.landing_page div.image-title:hover h2:after, .panel-col-bottom .panel-pane:nth-of-type(3n) .bean-image-and-text.landing_page:hover h2:after, .panel-col-middle .panel-pane:nth-of-type(3n) .bean-image-and-text.landing_page:hover h2:after {
    background-color: #37424a;
}

.panel-col-bottom .panels-ipe-portlet-wrapper:nth-of-type(4n) .bean-image-and-text.landing_page div.image-title:hover h2:after, .panel-col-bottom .panel-pane:nth-of-type(4n) .bean-image-and-text.landing_page:hover h2:after, .panel-col-middle .panel-pane:nth-of-type(4n) .bean-image-and-text.landing_page:hover h2:after {
    background-color: #37424a;
}

.read-more a {
    border-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #231f20;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-height: 40px;
    overflow: visible;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}

.read-more a:before {
    background-color: #74c29f;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
}

.read-more a:hover {
    border-color: #062e7f;
    border-left-color: #74c29f;
    color: #fff;
    background-color: #37424a;
}

.read-more a:hover::before {
    /*background-color:#82c341;*/
    /*background-color: #37424a;*/
    background-color: #74c29f;
}

.latest-news {
    float: none;
    clear: both;
    width: 65%;
}

h1, h2, h3, h4, h5, h6 {
    color: #37424a;
    font-size: 210%;
}

.mission__statement {
    font-family: TradeGothicLT, Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 1.7em;
    line-height: 1.35em;
}

.region-highlighted strong {
    font-size: 220%;
    color: #37424a;
}

.region-highlighted p {
    /*font-size: 185%;*/
    font-size: 132%;
    line-height: 1.3em;
    margin-bottom: 0;
    padding: 0 5px;
}

.video-wrapper {
    clear: both;
    padding: 20px 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mission__statement p {
    margin-top: -4px;
}

.block-agov-social-links a {
    float: left;
}

#block-menu-menu-footer-sub-menu {
    width: 66%;
    float: left;
}

.social-links-title-title {
    margin-top: 3px;
}

.social-link {
    padding-left: 15px;
    display: inline-block;
}

body.front .grayscale {
    filter: none;
    -webkit-filter: none;
}

body.front div#footer-top div#block-views-latest-news-block-1 .field-content {
    width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#footer-top div#block-views-latest-news-block-1 {
    float: left;
    width: 25%;
}

div#block-agov-social-links-services {
    margin-top: 0;
}

body.front .panel-panel.panel-col-middle {
    background: #efefef;
    width: 104.2%;
    margin-left: -2.1%;
}


body.front .region-highlighted strong {
    font-size: 399%;
    color: #37424a;
    padding-bottom: 0.7em;
    display: inline-block;
    font-family: "TradeGothicLT",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

body.front .pane-bean-panels:nth-of-type(2), body.front .pane-bean-panels:nth-of-type(4) {
    max-width: 300px;
}
body.front .pane-bean-panels:nth-of-type(3) {
    margin-left: 7px;
}
body.front .pane-bean-panels:nth-of-type(6) {
    margin-left: 0px;
}

body.front div.panel-col-bottom .pane-bean-panels {
    min-height: 15.5em;
}

#search-api-page-search-form.search-form input.form-text,
#search-api-page-search-form.search-form .form-submit {
    float: left;
    display: inline-block;
}

.search-api-page-results {
    clear: both;
    margin-top: 4em;
}


#search-api-page-search-form.search-form label {
    font-family: "TradeGothicLT",Arial,Helvetica,"Nimbus Sans L",sans-serif;
}
#search-api-page-search-form.search-form .form-submit {
    margin-top: -22px;
    margin-left: 15px;
}

.breadcrumb {
    border-color: #74c29f;
}

body.page-search #page-title {
    line-height: 1em;
}

body.front .view-latest-news .more-link a {
    color: #666;
    position: relative;
    top: 10px;
}

@media (min-width: 980px) {
    .layout-front__sidebar, .layout-front__sidebar-top, .front .panel-1col-stacked .panel-col-middle, .front .panel-1col-stacked .panel-col-bottom {
        width: 100%;
    }
}

@media (min-width: 720px) {
    .layout-front__two-columns, .front .panel-1col-stacked .panel-col-top .panels-ipe-portlet-wrapper, .front .panel-1col-stacked .panel-col-top .panel-pane, .front .panel-1col-stacked .panel-col-bottom .panels-ipe-portlet-wrapper, .front .panel-1col-stacked .panel-col-bottom .panel-pane {
        width: 33.3%;
    }
}
