div.region-header div#block-bean-govcms-logo {
    float:right;
}

div.region-header div#block-bean-govcms-logo img {
    max-width: 100px;
    width:100px;
}

div.region-header div#block-search-api-page-default-search {
    width: 200px;
}

header div.header__region {
    margin: 0px;
}

header .header__logo-image {
    max-height: inherit;
}

div.view-latest-news div.view-content div.views-row div.node {
    padding:20px;
}

div.region-navigation, div.navigation-wrapper {
    border-top:2px solid #74c29f;
    background: linear-gradient(#33434a, #37424a) repeat scroll 0 0 #37424a;
}

.navigation, .region-navigation .block__content > .menu {
    background-color: #37424a;
}

.navigation__primary-link.is-active:before, .navigation__primary-item:focus > a:before, .navigation__primary-item:hover > a:before, .region-navigation .block__content > .menu > li:focus > a:before, .region-navigation .block__content > .menu > li:hover > a:before, .region-navigation .block__content > .menu > li.active-trail > a:before {
    border-top: 3px solid #74c29f;
}

.navigation__link.is-active:before, .navigation__link:focus:before, .navigation__link:hover:before, .region-navigation .block__content > .menu li li a:focus:before, .region-navigation .block__content > .menu li li a:hover:before, .region-navigation .block__content > .menu li li a.active:before {
    /*border-left-color: #000000;*/
}

div.video-container-custom {
    background-color: #e2e2e2;
    margin: 25px 0;
    padding: 5px;
}

div.video-container-custom div.group-left {
    float: left;
    height: 320px;
    width: 620px;
    max-height: 351px;
}

div.video-container-custom div.group-right {
    float: right;
    padding-left: 0;
    width: 300px;
}

div.video-container-custom div.group-right .field-name-field-read-more a {
    border-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #231f20;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-height: 40px;
    overflow: visible;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}

div.video-container-custom div.group-right .field-name-field-read-more a:before {
    background-color: #1675bc;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
}

div.video-container-custom div.group-right .field-name-field-read-more a:hover{
    border-color:#062e7f;
    border-left-color:#82c341;
    color:#fff;
    background-color:#1675bc;
}

div.video-container-custom div.group-right .field-name-field-read-more a:hover::before{
    background-color:#82c341;
}

article.view-mode-full img.media-element {
    float: inherit;
}

table.pricing_table {
    border-top:none;
    border-left:none;
    border-bottom:solid white 1.5pt;
    border-right:solid white 1.0pt;
    color:#002776;
}

table.pricing_table td {
    border-top:none;
    border-left:none;
    border-bottom:solid white 1.5pt;
    border-right:solid white 1.0pt;
}

table.pricing_table tr.plan_details  {
    background:#00a1de;
    color: #ffffff;
}

table.pricing_table tr.plan_total  {
    background:#ccecff;
    font-weight: bold;
}

table.pricing_table tr.plan_total {
    background:#ccecff;
}

table.pricing_table tr.pageviews {
    background:#ccecff;
}

table.pricing_table tr.acquia {
    background:#ecffc3;
}

table.pricing_table tr.finance {
    background:#ecffc3;
}

table.pricing_table tr.one_off {
    background:#d8d8d8;
}

table.pricing_table tr.per_website {
    background:#ccecff;
}

table.pricing_table tr.suited_to {
    background:#f2f2f2;
}

table.pricing_table tr.pricing_foot {
    background:#f2f2f2;
}

/*==========PLANS AND PRICING==============*/

/* Animation */

div.fancyTableRow {

}

div.prices .fancyTableCell .planFeatures ul li {
    padding: 5px;
}

div.prices .fancyTableCell {
    min-height: 500px;
}

.fancyTableCell {
    -moz-transition:all 0.4s ease;
    -webkit-transition:all 0.4s ease;
    -ms-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
    transition:all 0.4s ease;
    width: 45%;
    -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
    min-height: 548px;
}

.fancyTableCellLeft {
    float:left;
}

.fancyTableCellRight {
    float:right;
}

.fancyTableCell:hover {
    -moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
    z-index:2;
    -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
}
.fancyTableCell .planName {
    padding-top:50px;
    padding-bottom:10px;
    text-align:center;
}
.fancyTableCell .price {
    background:#2cc76a;
    padding:5px;
    color:#FFF;
    font-size:50px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    margin:0 auto;
    position:relative;
    margin-top:-107px;
    margin-bottom:10px;
}
.fancyTableCell.Recommended .price {
    background:#f45c57;
}
.fancyTableCell .planName h3 {
    color:#FFF;
    text-align:center;
    padding:0;
    margin:0;
    text-transform:uppercase;
}
.fancyTableCell .planName p {
    color:#999;
    text-align:center;
}
.fancyTableCell .planFeatures {
    text-align:center;
    padding:10px;
}
.fancyTableCell .planFeatures ul {
    margin:0;
    padding:0;
    list-style:none;
}
.fancyTableCell .planFeatures ul li {
    padding:13px 0;
    list-style:none;
}
.fancyTableCell p {
    margin:0;
}
.fancyTableCell .btn {
    width:100%;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


/*========= Price CSS==============*/


.template4{
    overflow:hidden;
    margin-bottom: 40px;
    font-size:13px;
    font-weight:300;
    position:relative;
    border-top:5px solid #74c29f;
    transition: all 0.4s linear 0s;
    background:#fff;
}

.template4:hover{
    border-top:0px solid #1B253B;
    transition: all 0.4s linear 0s;
}

.template4:hover > p a{
    width:100% !important;

}

.template4:hover > div span.price{
    top:50px; !important;
    transition: all 0.4s linear 0s;
}

.fancyTableCell.template4 .planName h3 {
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}


.fancyTableCell.template4 .price {
    background: none repeat scroll 0 0 #2CC76A;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    margin: -50px auto 10px;
    padding: 5px;
    position: relative;
    width: 100%;
}

.fancyTableCell.template4 .btn {
    border-radius: 0;
    box-sizing: border-box;
    margin: 0 auto;
    width: 60%;
    color:#fff;
    font-size:15px;
    padding:20px 30px;
    background: #1B253B; /* Old browsers */
    -webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;
}

.fancyTableCell.template4 .btn:hover {
    background: #1B253B !important; /* Old browsers */
    -webkit-transition: all 0.51s ease-in-out;
    -moz-transition: all 0.51s ease-in-out;
    -o-transition: all 0.51s ease-in-out;
    transition: all 0.51s ease-in-out;
}


.span3.fancyTableCell.template4 > p {
    text-align: center;
}


.fancyTableCell.template4 .price {
    background: linear-gradient(#33434a, #37424a) repeat scroll 0 0 #37424a;
    border-radius: 0;
    color: #FFFFFF;
    display: block;
    font-size: 40px;
    line-height: 40px;
    padding: 5px;
    position: absolute;
    left:0;
    top:-150px;
    width: 100%;
    transition: all 0.4s linear 0s;
}

.fancyTableCell img.media-element {
    margin: inherit;
}

.orange{
    color:#fba826;
}

.template4 .planFeatures {
    color: #333333;
}

.template4 .read-more {
    text-align: center;
}

.template4 .read-more a {
    border-color: #fff;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: none;
    border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #231f20;
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-height: 40px;
    overflow: visible;
    padding: 8px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
}

.template4 .read-more a:before {
    background-color: #1675bc;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
}

.template4 .read-more a:hover{
    border-color:#062e7f;
    border-left-color:#82c341;
    color:#fff;
    background-color:#1675bc;
}

.template4 .read-more a:hover::before{
    background-color:#82c341;
}

.template4 ul li.page_views {
    font-size:16px;
    font-weight:bold;
}