div.region-header div#block-bean-govcms-logo {
    float:right;
}

div.region-header div#block-bean-govcms-logo img {
    max-width: 100px;
    width:100px;
}

div.region-header div#block-search-api-page-default-search {
    width: 200px;
}

header div.header__region {
    margin: 0px;
}

header .header__logo-image {
    max-height: inherit;
}

div.view-latest-news div.view-content div.views-row div.node {
    padding:20px;
}

div.region-navigation, div.navigation-wrapper {
    border-top:2px solid #74c29f;
    background: linear-gradient(#33434a, #37424a) repeat scroll 0 0 #37424a;
}

.navigation, .region-navigation .block__content > .menu {
    background-color: #37424a;
}

.navigation__primary-link.is-active:before, .navigation__primary-item:focus > a:before, .navigation__primary-item:hover > a:before, .region-navigation .block__content > .menu > li:focus > a:before, .region-navigation .block__content > .menu > li:hover > a:before, .region-navigation .block__content > .menu > li.active-trail > a:before {
    border-top: 3px solid #74c29f;
}

.block__content > .menu li li a.active:before {
    border-left-color: #000000;
}