// Styles for the blog layout option

// Blog article styles

.node-blog-article {
  .field-name-field-tags {
    border: none;
    padding-top: 1.2em;
    .field-label {
      width: auto;
      margin-right: 8px;
    }
    .field-item {
      color: #fff;
      a {
        text-decoration: none;
        padding: 3px 5px;
        border: 1px solid #ccc;
        background-color: #efefef;
        border-radius: 3px;
        color: #136e94; // accessible contrast
        &:hover,
        &:active,
        &:focus {
          border: 1px solid #999;
          text-decoration: underline;
        }
      }
    }
  }
  .field-type-taxonomy-term-reference {
    margin-top: 1em;
  }
  .comment-comments,
  .comment-add {
    margin-left: 1em;
  }
  .submitted {
    margin-bottom: 20px;
    color: #696969;
  }
}
.listing, .node-teaser, .search-results li {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  margin-bottom: 50px;
  &:first-of-type {
    border-top: none;
  }
}

// post article wrapping section
.pane-blogs .view-blogs {
  padding-bottom: 1.5em;
  .more-link a {
    background-color: #eee;
    &:before {
      background-color: #d51942;
    }
  }
}






// Sidebar

.panel-1col-stacked .panel-col-top {
  .pane-views {
    margin-bottom: 2.2em;
  }
  .views-row {
    .date {
      display: block;
      color: #696969;
    }
    margin-bottom: 5px;
  }
  .pane-agov-social-links-services {
    margin-bottom: 1em;
  }
  .views-summary {
    margin-bottom: 5px;
  }
  .pane-blogs-tags {
    a {
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}





// Everywhere

.node-readmore a,
.more-link a,
.read-more a {
  border-color: #fff;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: none;
  border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  color: #231f20;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: 22px;
  min-height: 40px;
  overflow: visible;
  padding: 8px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  &:before {
    background-color: $primaryColour;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
  }
  &:hover,
  &:active,
  &:focus {
    // background-color: rgba(255, 255, 255, 0.2);
    border-color: #333;
    color: #33;
    background-color: $primaryColour;
    &:before {
      background-color: #333;
    }
  }
}
