// Styles for the blog layout option

.field-name-field-tags {
  border-bottom: none;
  padding-top: 1.2em;
  .field-label {
    width: auto;
  }
  .field-item {
    color: #fff;
    a {
      padding: 3px 5px;
      border: 1px solid #ccc;
      background-color: #efefef;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid #333;
      }
    }
  }
}

.panel-1col-stacked .panel-col-top {
  .pane-views {
    margin-bottom: 1em;
  }
  .views-row {
    a {
      display: block;
    }
    margin-bottom: 5px;
  }
}


.submitted {
  margin-bottom: 20px;
  color: #696969;
}

.pane-agov-social-links-services {
  margin-bottom: 1em;
}


.field-type-taxonomy-term-reference {
  margin-top: 1em;
}
.comment-comments,
.comment-add {
  margin-left: 1em;
}








.node-readmore a,
.read-more a {
  border-color: #fff;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-image: none;
  border-color: #e2e2e2 #e2e2e2 #e2e2e2 #1675bc;
  border-image: none;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  color: #231f20;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: 22px;
  min-height: 40px;
  overflow: visible;
  padding: 8px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  &:before {
    background-color: $primaryColour;
    content: "";
    height: calc(100% + 2px);
    left: -5px;
    position: absolute;
    top: -1px;
    width: 5px;
  }
  &:hover,
  &:active,
  &:focus {
    // background-color: rgba(255, 255, 255, 0.2);
    border-color: #333;
    color: #fff;
    background-color: $primaryColour;
    &:before {
      background-color: #333;
    }
  }
}
