/* add these to the parent theme */
::-webkit-input-placeholder {
  color: #777
}
::-moz-placeholder {
  color: #000
}
:-moz-placeholder {
  color: #000
}
:-ms-input-placeholder {
  color: #777
}
input.placeholder {
  color: #777
}

#footer-top .social-link img {
  position: relative;
  top: -4px;
}


body.front div.pane-agov-social-links-services div.social-link {
  float: left;
}

body.front div.pane-agov-social-links-services div.social-link a.social-links-title-title {
  display: none;
}


body.front div.pane-agov-social-links-services div.social-link a.social-links-img-link {
  padding-left: 0;
  padding-right: 12px;
}

body.front div.pane-agov-social-links-services div.social-link a.social-links-img-link img {
  height: auto;
  width: auto;
}

body.front div.panel-col-middle div.pane-blogs {
    float: left;
}


body.front div.pane-blogs-tags .row-of-tags {
    float: left;
    padding-right: 5px;
}

body.front div.panel-col-top div.rounded-corner div.panel-pane {
    width: 270px;
}
