/**
 * Font faces
 *
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;
 *
 * Since we're using Sass, you'll need to declare your font faces here, then you
 * can add them to the font variables in the _init.scss partial.
 */

@font-face {
  font-family: 'TradeGothicLT';
  src: font-url('TradeGothicLT.eot');
  src: font-url('TradeGothicLT.eot?#iefix') format('embedded-opentype'),
    font-url('TradeGothicLT.woff') format('woff'),
    font-url('TradeGothicLT.ttf') format('truetype'),
    font-url('TradeGothicLT.svg#TradeGothicLT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLT-Bold';
  src: font-url('TradeGothicLT-Bold.eot');
  src: font-url('TradeGothicLT-Bold.eot?#iefix') format('embedded-opentype'),
    font-url('TradeGothicLT-Bold.woff') format('woff'),
    font-url('TradeGothicLT-Bold.ttf') format('truetype'),
    font-url('TradeGothicLT-Bold.svg#TradeGothicLT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'TradeGothicLT-BoldCondTwenty';
  src: font-url('TradeGothicLT-BoldCondTwenty.eot');
  src: font-url('TradeGothicLT-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),
    font-url('TradeGothicLT-BoldCondTwenty.woff') format('woff'),
    font-url('TradeGothicLT-BoldCondTwenty.ttf') format('truetype'),
    font-url('TradeGothicLT-BoldCondTwenty.svg#TradeGothicLT-BoldCondTwenty') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TradeGothicLT-CondEighteen';
  src: font-url('TradeGothicLT-CondEighteen.eot');
  src: font-url('TradeGothicLT-CondEighteen.eot?#iefix') format('embedded-opentype'),
    font-url('TradeGothicLT-CondEighteen.woff') format('woff'),
    font-url('TradeGothicLT-CondEighteen.ttf') format('truetype'),
    font-url('TradeGothicLT-CondEighteen.svg#TradeGothicLT-CondEighteen') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'TradeGothicLT-Oblique';
  src: font-url('TradeGothicLT-Oblique.eot');
  src: font-url('TradeGothicLT-Oblique.eot?#iefix') format('embedded-opentype'),
    font-url('TradeGothicLT-Oblique.woff') format('woff'),
    font-url('TradeGothicLT-Oblique.ttf') format('truetype'),
    font-url('TradeGothicLT-Oblique.svg#TradeGothicLT-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}
