<div class="layout-centered">

<div class="layout-ministerial_whitesite-3col">
  <div class="layout-ministerial_whitesite-3col__grid-item">
    <h3>Grid item #1</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="layout-ministerial_whitesite-3col__grid-item">
    <h3>Grid item #2</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="layout-ministerial_whitesite-3col__grid-item">
    <h3>Grid item #3</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="layout-ministerial_whitesite-3col__grid-item">
    <h3>Grid item #4</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="layout-ministerial_whitesite-3col__grid-item">
    <h3>Grid item #5</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="layout-ministerial_whitesite-3col__grid-item">
    <h3>Grid item #6</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

</div>
