//  Paul and Tim's changes


body.front {
  div {
    &.panel-col-top {
      padding-bottom: 20px;
    }
    &.panel-3col-33-stacked div.panel-col-top {
      div {
        &.pane-bean-panels {
          width: 600px !important;
          float: left;
          margin-right: 15px;
        }
        &.inside div.pane-agov-social-links-services {
          float: left;
        }
      }
      height: 180px;
    }
  }
  .bean-image-and-text.landing_page {
    max-width: 600px !important;
    div.image-title {
      max-width: 300px;
      float: left;
      margin-right: 15px;
    }
  }
  div.panel-3col-33-stacked div.panel-col-top {
    margin-bottom: 40px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #E2E2E2;
    outline-color: #444444;
  }
}


.header__logo-image {
  height: 140px !important;
  width: 140px !important;
  max-height: 140px !important;
}


.header__logo {
  padding-right: 20px;
}


header div.header__wrapper {
  float: left;
}


hr.header__hr {
  min-width: 280px;
  margin: 1em 0;
}


div {
  &#heading__top__line, &#heading__bottom__line {
    font-weight: 700;
    font-size: 20px;
    min-width: 450px;
  }
  &#heading__top__line {
    padding-top: 30px;
  }
}


.header__secondary-menu {
  position: absolute !important;
}


.search--header, .block-search-api-page {
  width: auto !important;
}


.header__region div#block-bean-ministerial-image {
  float: right;
  height: 130px;
  width: 100px;
  img {
    height: 130px;
    width: 100px;
  }
  div.bean-image-and-text {
    padding: 0px;
  }
}


body.front {
  div {
    &.view-ministerial-media-releases div.views-row, &.view-ministerial-speeches div.views-row, &.view-ministerial-transcripts div.views-row {
      border-bottom: 2px solid #E2E2E2;
      outline-color: #444444;
      padding-bottom: 8px;
      &.views-row-last {
        border-bottom: none;
      }
    }
    &.panel-col-top {
      padding-bottom: 20px;
    }
    &.panel-3col-33-stacked div.panel-col-top {
      div {
        &.pane-bean-panels {
          width: 600px !important;
          float: left;
          margin-right: 15px;
        }
        &.inside div.pane-agov-social-links-services {
          float: left;
        }
      }
      height: 180px;
    }
  }
  .bean-image-and-text.landing_page {
    max-width: 600px !important;
    div.image-title {
      max-width: 300px;
      float: left;
      margin-right: 15px;
    }
  }
  div.panel-3col-33-stacked div.panel-col-top {
    margin-bottom: 40px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #E2E2E2;
    outline-color: #444444;
  }
}


// these two were changed as they were not compiling
.header__logo-image {
  height: 140px !important;
  width: 140px !important;
  max-height: 140px !important;
}
.header__logo {
  padding-right: 20px;
}


header div.header__wrapper {
  float: left;
}


hr.header__hr {
  min-width: 280px;
  margin: 1em 0;
}


div {
  &#heading__top__line, &#heading__bottom__line {
    font-weight: 700;
    font-size: 20px;
    min-width: 450px;
  }
  &#heading__top__line {
    padding-top: 30px;
  }
}


.header__secondary-menu {
  position: absolute !important;
}


.search--header, .block-search-api-page {
  width: auto !important;
}


.header__region div#block-bean-ministerial-image {
  float: right;
  height: 130px;
  width: 100px;
  img {
    height: 130px;
    width: 100px;
  }
  div.bean-image-and-text {
    padding: 0px;
  }
}


body.front div {
  &.view-ministerial-media-releases div.views-row, &.view-ministerial-speeches div.views-row, &.view-ministerial-transcripts div.views-row {
    border-bottom: 2px solid #E2E2E2;
    outline-color: #444444;
    padding-bottom: 8px;
    &.views-row-last {
      border-bottom: none;
    }
  }
  &.view-ministerial-photo-galleries div.views-row {
    float: left;
    padding-left: 20px;
    &.views-row-first {
      padding-left: 0px;
    }
  }
}


.navigation__primary-link {
  padding: 10px 17px !important;
  &.is-active {
    padding: 10px 17px !important;
  }
}


.navigation__primary-item {
  &:focus > a, &:hover > a {
    padding: 10px 17px !important;
  }
}


.region-navigation .block__content > .menu > li {
  &.active-trail > a, > a {
    padding: 10px 17px !important;
  }
}


body.front div.field-name-field-date {
  float: right;
}


article.node div.field-name-field-photos div.field-items div.field-item {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  &:nth-child(3n+3) {
    padding-right: 0px;
  }
  &:last-child {
    float: inherit;
  }
}


body {
  &.front div.panel-3col-33-stacked div.panel-col-bottom {
    border-top: 2px solid #e2e2e2;
    outline-color: #444444;
  }
  &.node-type-photo-gallery article.node-photo-gallery div.field-name-field-feature-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


div.field-name-field-related-links ul.field-items {
  margin-bottom: 0px;
}


body {
  &.node-type-media-release article.node-media-release div.field-name-field-minister, &.node-type-speech article.node-speech div.field-name-field-minister, &.node-type-transcript article.node-transcript div.field-name-field-minister {
    padding-bottom: 20px;
  }
  &.node-type-media-release article.node-media-release div.field-name-field-date span.date-display-single, &.node-type-speech article.node-speech div.field-name-field-date span.date-display-single, &.node-type-transcript article.node-transcript div.field-name-field-date div.field-item {
    font-weight: bold;
    font-style: italic;
  }
  &.node-type-media-release article.node-media-release div.field-name-field-reference-number div.field-item, &.node-type-speech article.node-speech div.field-name-field-location-event div.field-item {
    font-weight: bold;
  }
  &.node-type-transcript {
    article.node-transcript div.field-label-inline div.field-label {
      width: inherit;
    }
    div.field-label-inline {
      margin: .4em 0;
    }
  }
  &.page-node article.node div.field-name-field-minister > div.field-items > div.field-item {
    padding-top: 20px;
    &:nth-of-type(1) {
      padding-top: 0px;
    }
  }
  &.front {
    h3 {
      font-size: inherit;
      line-height: inherit;
      margin: 10px 0px 0px 0px;
    }
    div {
      &.panel-col-top h3 {
        font-size: 1.67rem;
        line-height: 2.93333rem;
        margin: -4px 0 8px;
      }
      &.pane-agov-social-links-services div.social-link {
        float: left;
        a {
          &.social-links-img-link {
            padding-right: 6px;
            padding-left: 6px;
            img {
              height: auto;
              width: auto;
            }
          }
          &.social-links-title-title {
            display: none;
          }
        }
      }
      &.view-ministerial-photo-galleries div.views-row {
        float: left;
        padding-left: 20px;
        &.views-row-first {
          padding-left: 0px;
        }
      }
    }
    h3 {
      font-size: inherit;
      line-height: inherit;
      margin: 10px 0px 0px 0px;
    }
    div.panel-col-top h3 {
      font-size: 1.67rem;
      line-height: 2.93333rem;
      margin: -4px 0 8px;
    }
  }
}


.navigation__primary-link {
  padding: 10px 17px !important;
  &.is-active {
    padding: 10px 17px !important;
  }
}


.navigation__primary-item {
  &:focus > a, &:hover > a {
    padding: 10px 17px !important;
  }
}


.region-navigation .block__content > .menu > li {
  &.active-trail > a, > a {
    padding: 10px 17px !important;
  }
}


body.front div.field-name-field-date {
  float: right;
}


article.node div.field-name-field-photos div.field-items div.field-item {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  &:nth-child(3n+3) {
    padding-right: 0px;
  }
  &:last-child {
    float: inherit;
  }
}


body {
  &.front div.panel-3col-33-stacked div.panel-col-bottom {
    border-top: 2px solid #e2e2e2;
    outline-color: #444444;
  }
  &.node-type-photo-gallery article.node-photo-gallery div.field-name-field-feature-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


div.field-name-field-related-links ul.field-items {
  margin-bottom: 0px;
}


body {
  &.node-type-media-release article.node-media-release div.field-name-field-minister, &.node-type-speech article.node-speech div.field-name-field-minister, &.node-type-transcript article.node-transcript div.field-name-field-minister {
    padding-bottom: 20px;
  }
  &.node-type-media-release article.node-media-release div.field-name-field-date span.date-display-single, &.node-type-speech article.node-speech div.field-name-field-date span.date-display-single, &.node-type-transcript article.node-transcript div.field-name-field-date div.field-item {
    font-weight: bold;
    font-style: italic;
  }
  &.node-type-media-release article.node-media-release div.field-name-field-reference-number div.field-item, &.node-type-speech article.node-speech div.field-name-field-location-event div.field-item {
    font-weight: bold;
  }
  &.node-type-transcript {
    article.node-transcript div.field-label-inline div.field-label {
      width: inherit;
    }
    div.field-label-inline {
      margin: .4em 0;
    }
  }
  &.page-node article.node div.field-name-field-minister > div.field-items > div.field-item {
    padding-top: 20px;
    &:nth-of-type(1) {
      padding-top: 0px;
    }
  }
  &.front div.pane-agov-social-links-services div.social-link {
    float: left;
    a {
      &.social-links-img-link {
        padding-right: 6px;
        padding-left: 6px;
        img {
          height: auto;
          width: auto;
        }
      }
      &.social-links-title-title {
        display: none;
      }
    }
  }
}
