// mobile styles here


// 979px or smaller
@media (max-width: 979px) {
  header div.header__wrapper {
    width: 100%;
    margin-bottom: 1em;
  }
  .header__wrapper .header__logo{
    float: left;
  }
}


// 719px or smaller
@media (max-width: 719px) {
  #tinynav1 {
    width: 80%;
    width:  calc(100% - 5.2em);
  }
  // can't before on a select element so...
  #block-system-main-menu:before {
    content: '☰ Menu';
    color: #fff;
    float: left;
    margin-right: 1em;
    font-size: 1.1em;
    margin-top: 0.1em;
  }

  #heading__bottom__line {
    max-width: 65%;
  }
  .header__region #block-agov-text-resize-text-resize {
    margin-top: 30px;
  }
}

// 625px or smaller
@media (max-width: 625px) {
  .search--header__button, .block-search-api-page .form-submit {
    position: relative;
    top: -2.2em;
    left: calc(100% - 33px);
  }
  .panel-pane.pane-bean-panels .summary-text .field-items h3 a {
    display: block;
    background-color: #fff;
  }
  .panel-pane.pane-bean-panels .summary-text .field-items,
  .panel-pane.pane-bean-panels .summary-text .field-items .field-item,
  .layout-full .panel-3col-33-stacked {
    width: 100%;
  }
  .layout-full .panel-3col-33-stacked .panel-col-first,
  .layout-full .panel-3col-33-stacked .panel-col-last,
  .layout-full .panel-3col-33-stacked .panel-col {
    // width: 50%;
    width: 100%;
  }
  .pane-agov-social-links-services {
    width: 100%;
    margin-bottom: 2em;
  }
  // .pane-agov-social-links-services h2 {
  //   float: left;
  //   margin-right: 0.5em;
  // }
  body.front div.view-ministerial-photo-galleries div.views-row {
    width: 50%;
  }
  body.front div.view-ministerial-photo-galleries div.views-row.views-row-first {
    width: 100%;
    max-width: 300px;
  }
  .pane-agov-social-links-services {
    width: 100%;
  }
  body.front .panel-3col-33-stacked div.panel-col-top div.pane-bean-panels {
    max-width: 600px !important;
    width: 100% !important;
  }
}



// 440px or smaller
@media (max-width: 440px) {
  .header__logo-image {
    width: 100px !important;
    height: 100px !important;
  }
  #heading__top__line {
    height: 60px;
  }
  #heading__top__line, #heading__bottom__line {
    font-size: 16px;
  }
  .block-search-api-page {
    padding-right: 10px;
  }
  body.front .bean-image-and-text.landing_page div.image-title {
    margin-right: 0;
  }
  #heading__bottom__line {
    max-width: 50%;
  }
}

// 400px or smaller
@media (max-width: 400px) {
  // .panel-pane.pane-bean-panels .summary-text .field-items {
  //   width: 50%;
  // }
  .panel-3col-33-stacked .panel-col-last {
    width: 100%;
  }
  body.front div.view-ministerial-photo-galleries div.views-row {
    width: 100%;
  }
  .header__region #block-search-api-page-default-search {
    width: 65% !important;
  }
  .page-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
}
