body.front div.gov-front-left {
	float:left;
	width: 66%;
}

body.front div.gov-front-right {
	float:right;
	width: 33%;
    padding: 10px;
    background-color: #f8f8f8;
}

body.front div.gov-front-right h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}
body.front div.gov-front-right div.panels-ipe-portlet-wrapper {
    padding-bottom:20px;
}

body {
    background-color:#2b4272;
}

header {
    background-color:#2b4272;
}

.page-wrapper {
    outline: none!important;
}

.navigation__wrapper, .region-navigation, .navigation, .region-navigation .block__content > .menu {
    background-color: #5b7bbe;
}

.navigation__primary-link.is-active:before, .navigation__primary-item:focus > a:before, .navigation__primary-item:hover > a:before, .region-navigation .block__content > .menu > li:focus > a:before, .region-navigation .block__content > .menu > li:hover > a:before, .region-navigation .block__content > .menu > li.active-trail > a:before {
    border-top-color: #285a86;
}

.navigation__primary-link.is-active, .navigation__primary-item:focus > a, .navigation__primary-item:hover > a, .region-navigation .block__content > .menu > li:focus > a, .region-navigation .block__content > .menu > li:hover > a, .region-navigation .block__content > .menu > li.active-trail > a {
    color: #1a3d5c;
    font-weight: bold;
}

.navigation__primary-link, .navigation__primary-link.is-active, .navigation__primary-item:focus > a, .navigation__primary-item:hover > a, .region-navigation .block__content > .menu > li.active-trail > a, .region-navigation .block__content > .menu > li > a {
    font-weight: bold;
}

.header__secondary-menu a:link, .header__secondary-menu a:visited {
    color: #fff;
}

h1, h2, .listing__title, .node-teaser h2, .search-results h3.title, .mission__statement, h3, h4, h5, h6 {
    color: #285a86;
}

.page-wrapper {
    background-color: #e7e9eb;
}

.region-footer-bottom:before {
    background-image: none;
}

.navigation__link.is-active:before, .navigation__link:focus:before, .navigation__link:hover:before, .region-navigation .block__content > .menu li li a:focus:before, .region-navigation .block__content > .menu li li a:hover:before, .region-navigation .block__content > .menu li li a.active:before {
    border-left: 5px solid #285a86;
}

.navigation__drop-down, .region-navigation .block__content > .menu > li > ul {
    width: auto!important;
}

.navigation__item, .navigation__primary-item, .region-navigation .block__content > .menu li {
    white-space: nowrap!important;
}

