body.front div.gov-front-left {
	float:left;
	width: 66%;
}

body.front div.gov-front-right {
	float:right;
	width: 33%;
    padding: 10px;
    background-color: #f8f8f8;
}

body.front div.gov-front-right h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
}
body.front div.gov-front-right div.panels-ipe-portlet-wrapper {
    margin-bottom:20px;
}

body {
    background-color:#2b4272;
}

header {
    background-color:#2b4272;
}

.header {
	margin: 25px 0;
}
#block-search-api-page-results {
	margin-right: 0;
}

.page-wrapper {
    outline: none!important;
}

.navigation__wrapper, .region-navigation, .navigation, .region-navigation .block__content > .menu {
    background-color: #5b7bbe;
}

.navigation__primary-link.is-active:before, .navigation__primary-item:focus > a:before, .navigation__primary-item:hover > a:before, .region-navigation .block__content > .menu > li:focus > a:before, .region-navigation .block__content > .menu > li:hover > a:before, .region-navigation .block__content > .menu > li.active-trail > a:before {
    border-top-color: #285a86;
}

.navigation__primary-link.is-active, .navigation__primary-item:focus > a, .navigation__primary-item:hover > a, .region-navigation .block__content > .menu > li:focus > a, .region-navigation .block__content > .menu > li:hover > a, .region-navigation .block__content > .menu > li.active-trail > a {
    color: #1a3d5c;
    font-weight: bold;
}

.navigation__primary-link, .navigation__primary-link.is-active, .navigation__primary-item:focus > a, .navigation__primary-item:hover > a, .region-navigation .block__content > .menu > li.active-trail > a, .region-navigation .block__content > .menu > li > a {
    font-weight: bold;
}

.header__secondary-menu a:link, .header__secondary-menu a:visited {
    color: #fff;
}

h1, h2, .listing__title, .node-teaser h2, .search-results h3.title, .mission__statement, h3, h4, h5, h6 {
    color: #285a86;
}

.page-wrapper {
    background-color: #e7e9eb;
}

.region-footer-bottom:before {
    background-image: none;
}

.navigation__link.is-active:before, .navigation__link:focus:before, .navigation__link:hover:before, .region-navigation .block__content > .menu li li a:focus:before, .region-navigation .block__content > .menu li li a:hover:before, .region-navigation .block__content > .menu li li a.active:before {
    border-left: 5px solid #285a86;
}

.navigation__drop-down, .region-navigation .block__content > .menu > li > ul {
    width: auto!important;
}

.navigation__item, .navigation__primary-item, .region-navigation .block__content > .menu li {
    white-space: nowrap!important;
}

.menu-block-agov_menu_block-sidebar .menu .menu__link.active {
    border-left: 5px solid #285a86;
}

.region-navigation .block__content > .menu > li > ul > li > ul {
    position: absolute!important;
    left: 100%!important;
    top:0!important;
    width: auto!important;
    white-space: nowrap!important;
}

body.front .webform-component {
    width:70%;
    float:left;
    margin: 0 5px 0 0;
}

body.page-manage-existing-application .webform-component-select  {
    width:25%;
    float:left;
    margin: 0 5px 0 0;
}

body.front div.gov-front-right div.pane-bean-apply-for h2, body.front div.gov-front-right div.pane-bean-whois-lookup h2 {
    padding-top: 14px;
}

:link {
    color: #2D6893;
}

a:visited {
    color: #73506D;
}

:focus {
    border: dotted 1px black;
}

div.search-api-page-results p.search-info {
    display: none;
}


.region-footer-bottom .block-menu .menu>li>a:before {
	border-left-color: #5b7bbe;
}

.gov-front-right .pane-block.panel-pane {
	margin-top: 2em;
}
.gov-front-right .pane-block.panel-pane:first-of-type {
	margin-top: 0;
}
.gov-front-right .webform-client-form {
	margin-bottom: 1em;
}

.region-navigation {
	border-bottom: 3px solid #fff;
}


@media (max-width: 720px) {
    body.front div.gov-front-right {
        float: left;
        width: 100%!important;
    }

    body.front div.gov-front-left {
        width: 100%!important;
    }

    body.page-manage-existing-application .webform-component-select  {
        width:70%;
        float:left;
        margin: 0 5px 0 0;
    }
}


/*.button, button, html input[type="button"],
input[type="reset"], input[type="submit"],
.slide-show__read-more-link,
#block-views-slideshow-block .field-name-field-read-more a {
	color: #111;
	background: #5b7bbe;
}*/

.button::before, button::before,
html input[type="button"]::before,
input[type="reset"]::before, input[type="submit"]::before,
.slide-show__read-more-link::before,
#block-views-slideshow-block .field-name-field-read-more a::before {
	background-color: #2b4272;
}



/* add these to the parent theme */
::-webkit-input-placeholder {
	color: #777
}
::-moz-placeholder {
	color: #000
}
:-moz-placeholder {
	color: #000
}
:-ms-input-placeholder {
	color: #777
}
input.placeholder {
	color: #777
}
