// Sidebar layout
//
// Markup: layout-sidebar.html
//
// Styleguide 3.2

.layout-sidebar,
%layout-sidebar {
  @extend %clearfix;
  padding: 0 $half-gutter;
  margin: 25px 0;
}

.layout-sidebar__main,
%layout-sidebar__main {
  width: 100%;
  padding: 0 $half-gutter;

  @include bp-nq($medium) {
    float: right;
    width: ($medium - 200px - 2 * $gutter);
  }

  @include bp-nq($large) {
    width: ($large - 220px - 2 * $gutter);
  }

  @media print {
    /* Un-float the content. */
    float: none;
    width: 100%;
    padding: 0;
  }
}

.layout-sidebar__sidebar,
%layout-sidebar__sidebar {
  padding: 0 $half-gutter;

  @include bp-nq($medium) {
    float: left;
    width: (200px + $gutter);
  }

  @include bp-nq($large) {
    width: (220px + $gutter);
  }

  @include print-none();
}
