// Layout front
//
// Main content moves to right side on large screens.
//
// Markup: layout-front.html
//
// Styleguide 3.4

.layout-front,
%layout-front {
  // The content's margins don't collapse, so remove some from the wrapper.
  @include output-rhythm(margin-bottom, -(rhythm(1)));
}

.layout-front__content,
%layout-front__content {
  @include bp-nq($large) {
    //width:  300px;
    //float: right;
    margin-left: $gutter;
  }
}

.layout-front__sidebar-top,
%layout-front__sidebar-top {
  @extend %layout-front__sidebar;
  margin: $gutter 0 (2 * $gutter);

  @include bp-nq($large) {
    margin-top: 0;
  }
}

.layout-front__sidebar,
%layout-front__sidebar {
  @include bp-nq($large) {
    width: (600px + $gutter);
  }
}

.layout-front__two-columns-container,
%layout-front__two-columns-container {
  @extend %clearfix;
}

.layout-front__two-columns,
%layout-front__two-columns {
  @include bp-nq($medium) {
    width: 300px;
    float: left;

    &:nth-child(even) {
      float: right;
    }
  }
}


// Fugly selectors.
.front .panel-1col-stacked {
  @extend %layout-front;

  .panel-col-top {
    @extend %layout-front__content;
  }

  .panel-col-middle {
    @extend %layout-front__sidebar-top;
   }

  .panel-col-bottom {
    @extend %layout-front__sidebar;
  }

  .panel-col-top,
  .panel-col-bottom {
    @extend %layout-front__two-columns-container;

    .panels-ipe-portlet-wrapper,
    .panel-pane {
      @extend %layout-front__two-columns;
    }
  }
}
