<div class="header">
  <a href="/" class="header__logo"><img src="/sites/all/themes/custom/govcms_subthemes/ministerial_whitesite/logo.png" alt="Home" class="header__logo-image" /></a>

  <nav class="header__secondary-menu" role="navigation">
    <h2 class="element-invisible">User menu</h2>
    <ul class="header__secondary-menu-list">
      <li class="menu-563 first"><a href="/sitemap">Site map and Feeds</a></li>
      <li class="menu-3"><a href="/user">My account</a></li>
      <li class="menu-14 last"><a href="/user/logout">Log out</a></li>
    </ul>
  </nav>

  <div class="header__region">
    <div class="header__region-item">
      {{> "text-resize"}}
    </div>
    <div class="header__region-item">
      {{> "search"}}
    </div>
  </div>
</div>

{{> "navigation"}}
