<div class="latest-news">
  <h2 class="latest-news__title">Latest News</h2>
  <div class="latest-news__border-slope">
    <div class="latest-news-item">
      <div class="latest-news__item-content">
        <div class="latest-news__item-date">10 December 2014</div>
        <div class="latest-news__item-title">
          <a href="#" class="latest-news__item-title-link">ASADA's statements Organised Crime and Drugs in Sport</a>
        </div>
      </div>
    </div>
    <div class="latest-news__item">
      <div class="latest-news__item-content">
        <div class="latest-news__item-date">23 October 2014</div>
        <div class="latest-news__item-title">
          <a href="#" class="latest-news__item-title-link">ASADA responds to AFL Players’ Association’s demands</a>
        </div>
      </div>
    </div>
  </div>
</div>
