<h1>Current News</h1>

<div class="listing__lede">
  <p>Optional teaser text style lorem ipsum dolor sit amet, consectetor adipiscing elit vestibulum vehicula pellentesque convallis nunc non.</p>
</div>
  
<div class="listing">
  <div class="listing__image"><img src="public/sample.png" style="width: 200px"></div>
  <h2 class="listing__title"><a class="listing__title-link" href="#">ASADA's statements Organised Crime and Drugs in Sport</a></h2>
  <div class="listing__date">10 November 2014</div>
  <div class="listing__text">
    <p>ASADA's statements Organised Crime and Drugs in Sport</p>
  </div>
</div>
<div class="listing">
  <h2 class="listing__title"><a class="listing__title-link" href="#">ASADA responds to AFL Players’ Association’s demands</a></h2>
  <div class="listing__date">20 November 2014</div>
  <div class="listing__text">
    <p>The Australian Sports Anti-Doping Authority (ASADA) today responded to the AFL Players’ Association’s demands for ASADA to expedite the process, including bringing the matter before the Anti-Doping</p>
  </div>
</div>
<div class="listing">
  <h2 class="listing__title"><a class="listing__title-link" href="#">Important Athlete Advisory: prohibited stimulants found in supplements</a></h2>
  <div class="listing__date">20 November 2014</div>
  <div class="listing__text">
    <p>The Australian Sports Anti-Doping Authority (ASADA) is advising all Australian athletes subject to in-competition doping control to be cautious of the supplements <i>DS Craze</i>, <i>Mesomorph 2.0 </i></p>
  </div>
</div>
