<ul class="pager-responsive pager-responsive__list">
  <li class="pager-responsive__pages">
    <ul class="pager-responsive__list">
      <li class="pager-responsive__item">
        <a class="pager-responsive__link" title="Go to page 1" href="#">1</a>
      </li
      ><li class="pager-responsive__item">
        <a class="pager-responsive__link" title="Go to page 2" href="#">2</a>
      </li
      ><li class="pager-responsive__item pager-responsive__item-current">
        3
      </li
      ><li class="pager-responsive__item">
        <a class="pager-responsive__link" title="Go to page 4" href="#">4</a>
      </li
      ><li class="pager-responsive__item">
        <a class="pager-responsive__link" title="Go to page 5" href="#">5</a>
      </li>
    </ul>
  </li>
  <li class="pager-responsive__start-nav">
    <ul class="pager-responsive__list">
      <li class="pager-responsive__item pager-responsive__item-nav">
        <a class="pager-responsive__link" title="Go to first page" href="#">« first</a>
      </li
      ><li class="pager-responsive__item pager-responsive__item-nav">
        <a class="pager-responsive__link" title="Go to previous page" href="#">‹ previous</a>
      </li>
    </ul>
  </li>
  <li class="pager-responsive__end-nav">
    <ul class="pager-responsive__list">
      <li class="pager-responsive__item pager-responsive__item-nav">
        <a class="pager-responsive__link" title="Go to next page" href="#">next ›</a>
      </li
      ><li class="pager-responsive__item pager-responsive__item-nav">
        <a class="pager-responsive__link" title="Go to last page" href="#">last »</a>
      </li>
    </ul>
  </li>
</ul>
