<div class="slide-show">
  <h2 class="slide-show__title">Slide show</h2>
  <ul class="slide-show__slides">
    <li class="slide-show__slide">
      <div class="slide-show__slide-left">
        <a href="#"><img src="public/sample.png" width="680" height="351"></a>
      </div>
      <div class="slide-show__slide-right">
        <h2 class="slide-show__slide-title"><a href="#" class="slide-show__slide-title-link">ASADA 2013-14  Annual Report</a></h2>
        <p>Read the 2013:14 Australian Sports Anti-Doping Authority Annual Report.</p>
        <div><a class="slide-show__read-more-link" href="#">Read more</a></div>
      </div>
    </li>
    <li class="slide-show__slide">
      <div class="slide-show__slide-left">
        <a href="#"><img src="public/sample.png" width="680" height="351"></a>
      </div>
      <div class="slide-show__slide-right">
        <h2 class="slide-show__slide-title"><a href="#" class="slide-show__slide-title-link">2015 Prohibited List Released</a></h2>
        <p>The World Anti-Doping Agency has published the 2015 Prohibited List, which will come into effect on 1 January 2015.</p>
        <div><a class="slide-show__read-more-link" href="#">Read more</a></div>
      </div>
    </li>
    <li class="slide-show__slide">
      <div class="slide-show__slide-left">
        <a href="#"><img src="public/sample.png" width="680" height="351"></a>
      </div>
      <div class="slide-show__slide-right">
        <h2 class="slide-show__slide-title"><a href="#" class="slide-show__slide-title-link">Prohibited stimulants found in supplements</a></h2>
        <p>Australian athletes need to be cautious of supplements claiming fat loss or increases in mental performance benefits.</p>
        <div><a class="slide-show__read-more-link" href="#">Read more</a></div>
      </div>
    </li>
  </ul>
  <ul class="slide-show__navigation">
    <li class="slide-show__navigation-item"><a href="#" class="slide-show__navigation-link slide-show__navigation-link-is-active">1</a></li>
    <li class="slide-show__navigation-item"><a href="#" class="slide-show__navigation-link">2</a></li>
    <li class="slide-show__navigation-item"><a href="#" class="slide-show__navigation-link">3</a></li>
  </ul>
</div>
