<div class="form-item">
  <label for="inputText">A form label <abbr title="required" class="form-required">*</abbr></label>
  <input class="form-error" type="text" id="inputText" placeholder="Enter some text">
  <div class="form-description">
    A description of a form field.
  </div>
</div>

<div class="form-item">
  <label for="checkboxes">Checkboxes</label>
  <div id="checkboxes">
    <div class="form-item--tight">
      <label class="form-label--inline"><input type="checkbox"> A label wrapped around a checkbox</label>
    </div>
    <div class="form-item--tight">
      <label class="form-label--inline"><input type="checkbox"> A label wrapped around a checkbox</label>
    </div>
    <div class="form-item--tight">
      <label class="form-label--inline"><input type="checkbox"> A label wrapped around a checkbox</label>
      <div class="form-description--indented">Description of the above checkbox.</div>
    </div>
  </div>
  <div class="form-description">Description of all the checkboxes.</div>
</div>

<div class="form-item">
  <button type="submit">A submit button</button>
</div>
