<div class="navigation__wrapper">
  <ul class="navigation">
    <li class="navigation__primary-item"><a href="#" class="navigation__primary-link is-active">Home</a></li>
    <li class="navigation__primary-item">
      <a href="#" class="navigation__primary-link">Anti-doping programs</a>
      <ul class="navigation__drop-down">
        <li class="navigation__item"><a href="#" class="navigation__link">Investigations</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Intelligence</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Report doping</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Education</a></li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Testing</a>
          <ul class="navigation__sub-menu">
            <li class="navigation__item"><a href="#" class="navigation__link">Testing guide</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Rights and responsibilities</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Testing pools</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Biological Passport</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link">Testing fees</a></li>
          </ul>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Whereabouts</a>
          <ul class="navigation__sub-menu">
            <li class="navigation__item"><a href="#" class="navigation__link">Log your whereabouts</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="navigation__primary-item">
      <a href="#" class="navigation__primary-link">Substances</a>
      <ul class="navigation__drop-down">
        <li class="navigation__item"><a href="#" class="navigation__link">Check your substances</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Supplements</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">WADA Prohibited List</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Therapeutic Use Exemptions (TUE)</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">About ASDMAC</a></li>
      </ul>
    </li>
    <li class="navigation__primary-item">
      <a href="#" class="navigation__primary-link">Rules &amp; Violations</a>
      <ul class="navigation__drop-down">
        <li class="navigation__item"><a href="#" class="navigation__link">Anti-doping rule violations</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Current athlete sanctions</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Tribunal decisions</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Types of violations</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Types of sanctions</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Rule violation process</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Athlete counselling</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">National Anti-doping policies</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">World Anti-Doping Code</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Rule violation panel</a></li>
      </ul>
    </li>
    <li class="navigation__primary-item">
      <a href="#" class="navigation__primary-link">News</a>
      <ul class="navigation__drop-down">
        <li class="navigation__item"><a href="#" class="navigation__link">Latest news</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Anti-doping updates</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Media releases</a></li>
      </ul>
    </li>
    <li class="navigation__primary-item">
      <a href="#" class="navigation__primary-link">About</a>
      <ul class="navigation__drop-down">
        <li class="navigation__item"><a href="#" class="navigation__link">Governance</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Corporate information</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Finance</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Policies</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Freedom of information</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Employment</a></li>
        <li class="navigation__item"><a href="#" class="navigation__link">Contact us</a></li>
      </ul>
    </li>
  </ul>
</div>
