<div class="layout-centered">

<div class="layout-front">
  <div class="layout-front__content layout-front__two-columns-container">
    <div class="layout-front__two-columns">
      <h3>Main content #1</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="layout-front__two-columns">
      <h3>Main content #2</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="layout-front__sidebar layout-front__two-columns-container">
    <div class="layout-front__two-columns">
      <h3>Sidebar content #1</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="layout-front__two-columns">
      <h3>Sidebar content #2</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="layout-front__two-columns">
      <h3>Sidebar content #3</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="layout-front__two-columns">
      <h3>Sidebar content #4</h3><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

</div>
