/* line 1, ../src/sass/_agency.scss */
body {
  font-size: 12px;
  background-color: #e6d60f;
}

/* line 7, ../src/sass/_agency.scss */
main div#main {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}
/* line 12, ../src/sass/_agency.scss */
main div#main section#main-content-section {
  background: white none repeat scroll 0 0;
  border-radius: 5px;
}

/* line 20, ../src/sass/_agency.scss */
div#content aside {
  line-height: 160%;
  color: #666666;
}
/* line 24, ../src/sass/_agency.scss */
div#content aside div#block-views-9d48c1bdf34a5432a235eb928a4e213d {
  background: #ffffcc none repeat scroll 0 0;
}
/* line 28, ../src/sass/_agency.scss */
div#content aside .block-views, div#content aside #block-aggregator-feed-1 {
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 0px;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
}
/* line 37, ../src/sass/_agency.scss */
div#content aside .block-views h2.block-title, div#content aside #block-aggregator-feed-1 h2.block-title {
  font-size: 12px;
  color: #444;
  font: bold 100%/100% Arial,Helvetica,sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px dotted #c0c0c0;
  margin: 0;
  padding: 8px 24px 7px 10px;
}
/* line 49, ../src/sass/_agency.scss */
div#content aside .block-views div.views-field-title, div#content aside #block-aggregator-feed-1 div.views-field-title {
  margin: 0;
  overflow: hidden;
  padding: 0px 0px 0px;
}
/* line 55, ../src/sass/_agency.scss */
div#content aside .block-views ul, div#content aside #block-aggregator-feed-1 ul {
  list-style-type: disc;
  padding-left: 25px;
}
/* line 58, ../src/sass/_agency.scss */
div#content aside .block-views ul li, div#content aside #block-aggregator-feed-1 ul li {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 3px;
}
/* line 62, ../src/sass/_agency.scss */
div#content aside .block-views ul li a, div#content aside #block-aggregator-feed-1 ul li a {
  color: #000;
}
/* line 68, ../src/sass/_agency.scss */
div#content aside .block-views div.more-link, div#content aside #block-aggregator-feed-1 div.more-link {
  display: none;
}

/*
 * ======================
 * Site common style
 * ======================
 */
/*
 * ======================
 * Site head style
 * ======================
 */
/*
 * ======================
 * Site content style
 * ======================
 */
/*
 * ======================
 * Site side style
 * ======================
 */
/*
 * ======================
 * Site bottom style
 * ======================
 */
