/* line 1, ../src/sass/_agency.scss */
body {
  font-size: 12px;
  background-color: #e6d60f;
}

/* line 6, ../src/sass/_agency.scss */
h1 {
  color: #39b7cd;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

/* line 15, ../src/sass/_agency.scss */
h2 {
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

/* line 24, ../src/sass/_agency.scss */
.post-nav {
  color: #999999;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

/* line 32, ../src/sass/_agency.scss */
.note {
  background: #eeffff none repeat scroll 0 0;
  border: 1px dotted #cccccc;
  font-size: 12px;
}

/* line 38, ../src/sass/_agency.scss */
header {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}

/* line 45, ../src/sass/_agency.scss */
nav#navigation {
  background-color: #f0f0f0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
/* line 50, ../src/sass/_agency.scss */
nav#navigation .nav-tabs {
  margin-left: 10px;
  border-bottom: none;
}
/* line 54, ../src/sass/_agency.scss */
nav#navigation .nav-tabs li a {
  background: #dbdbdb none repeat scroll 0 0;
  border-color: -moz-use-text-color;
  border-style: none;
  border-width: medium;
  color: #444444;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
/* line 66, ../src/sass/_agency.scss */
nav#navigation .nav-tabs li a.active {
  background: #4f4f4f none repeat scroll 0 0;
  border-color: -moz-use-text-color;
  border-style: none;
  border-width: medium;
  color: #ffffff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

/* line 84, ../src/sass/_agency.scss */
main div#main {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-top: none;
  border-bottom: none;
  border-radius: 0px 0px 0px 0px;
}
/* line 91, ../src/sass/_agency.scss */
main div#main section#main-content-section {
  background: white none repeat scroll 0 0;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 25px 15px 1em;
}

/* line 103, ../src/sass/_agency.scss */
footer {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 15px;
}
/* line 109, ../src/sass/_agency.scss */
footer a {
  color: #000000;
}

/* line 114, ../src/sass/_agency.scss */
div#content {
  padding-left: 15px;
}
/* line 116, ../src/sass/_agency.scss */
div#content aside {
  line-height: 160%;
  color: #666666;
}
/* line 120, ../src/sass/_agency.scss */
div#content aside div#block-views-9d48c1bdf34a5432a235eb928a4e213d {
  background: #ffffcc none repeat scroll 0 0;
}
/* line 124, ../src/sass/_agency.scss */
div#content aside .block-views, div#content aside #block-aggregator-feed-1 {
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 0px;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
}
/* line 133, ../src/sass/_agency.scss */
div#content aside .block-views h2.block-title, div#content aside #block-aggregator-feed-1 h2.block-title {
  font-size: 12px;
  color: #444;
  font: bold 100%/100% Arial,Helvetica,sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px dotted #c0c0c0;
  margin: 0;
  padding: 8px 24px 7px 10px;
}
/* line 145, ../src/sass/_agency.scss */
div#content aside .block-views div.views-field-title, div#content aside #block-aggregator-feed-1 div.views-field-title {
  margin: 0;
  overflow: hidden;
  padding: 0px 0px 0px;
}
/* line 151, ../src/sass/_agency.scss */
div#content aside .block-views ul, div#content aside #block-aggregator-feed-1 ul {
  list-style-type: disc;
  padding-left: 25px;
  padding-right: 5px;
}
/* line 155, ../src/sass/_agency.scss */
div#content aside .block-views ul li, div#content aside #block-aggregator-feed-1 ul li {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 3px;
}
/* line 159, ../src/sass/_agency.scss */
div#content aside .block-views ul li a, div#content aside #block-aggregator-feed-1 ul li a {
  color: #000;
}
/* line 165, ../src/sass/_agency.scss */
div#content aside .block-views div.more-link, div#content aside #block-aggregator-feed-1 div.more-link {
  display: none;
}

/*
 * ======================
 * Site common style
 * ======================
 */
/*
 * ======================
 * Site head style
 * ======================
 */
/*
 * ======================
 * Site content style
 * ======================
 */
/*
 * ======================
 * Site side style
 * ======================
 */
/*
 * ======================
 * Site bottom style
 * ======================
 */
