body {
  font-size: 12px;
  background-color: #e6d60f;
}
body.front h1 {
  color: #39b7cd;
}
body.front div#main section#main-content-section {
  padding-top: 0;
}

h1 {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

h2 {
  color: #000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.post-nav {
  color: #999999;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

.note {
  background: #eeffff none repeat scroll 0 0;
  border: 1px dotted #cccccc;
  font-size: 12px;
}

aside.suf-widget {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  line-height: 100%;
  padding: 0px;
}
aside.suf-widget h3 {
  color: #444;
  font: bold 100%/100% Arial,Helvetica,sans-serif;
  margin: 0.5em 1em;
}
aside.suf-widget ul {
  padding-left: 25px;
}
aside.suf-widget ul li {
  background-position: 0 1px;
  background-repeat: no-repeat;
  padding-bottom: 3px;
  padding-left: 3px;
}
aside.suf-widget ul li a {
  color: #000000;
  text-decoration: none;
}
aside.suf-widget ul li a:visited {
  color: #000000;
  text-decoration: none;
}
aside.suf-widget ul li a:hover {
  text-decoration: underline;
}

header {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 1em;
}
header #coas a {
  display: inline-block;
}
header #coas a img {
  margin: 40px 10px 20px 10px;
}
header #logo a {
  display: inline-block;
}
header #logo a img {
  margin: 20px 18px 30px 20px;
  box-shadow: 0 5px 15px #D0CED0;
}

nav#navigation {
  background-color: #f0f0f0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
}
nav#navigation .nav-tabs {
  margin-left: 10px;
  border-bottom: none;
  bottom: -1px;
  position: relative;
}
nav#navigation .nav-tabs li a {
  background: #dbdbdb none repeat scroll 0 0;
  border-color: -moz-use-text-color;
  border-style: none;
  border-width: medium;
  color: #444;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
nav#navigation .nav-tabs li a.active {
  background: #4f4f4f none repeat scroll 0 0;
  border-color: -moz-use-text-color;
  border-style: none;
  border-width: medium;
  color: #fff;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}
nav#navigation #search-block-form input {
  padding: 6px 10px;
}
nav#navigation #search-block-form #edit-search-block-form--2 {
  min-width: 16.15em;
  padding: 5px 10px;
}
nav#navigation #search-block-form div.form-item.form-type-textfield {
  display: inline-block;
}
nav#navigation #search-block-form .form-item {
  margin-top: 0;
}
nav#navigation #search-block-form .container-inline {
  margin-left: -13px;
}

main div#main {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-top: none;
  border-bottom: none;
  border-radius: 0px 0px 0px 0px;
}
main div#main section#main-content-section {
  background: white none repeat scroll 0 0;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 25px 15px 1em;
}

footer {
  background-color: #f0f0f0;
  border: 1px solid #c0c0c0;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 15px;
}
footer a {
  color: #000;
}

div#content {
  padding-left: 15px;
}
div#content .block-webform label {
  display: block;
}
div#content .block-webform .webform-submit {
  padding: 6px 10px;
}
div#content aside {
  line-height: 160%;
  color: #666;
}
div#content aside div#block-views-9d48c1bdf34a5432a235eb928a4e213d {
  background: #ffffcc none repeat scroll 0 0;
}
div#content aside .block-views, div#content aside #block-aggregator-feed-1 {
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 0px;
  background: #fff none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
}
div#content aside .block-views h2.block-title, div#content aside #block-aggregator-feed-1 h2.block-title {
  font-size: 12px;
  color: #444;
  font: bold 100%/100% Arial,Helvetica,sans-serif;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px dotted #c0c0c0;
  margin: 0;
  padding: 8px 24px 7px 10px;
}
div#content aside .block-views div.views-field-title, div#content aside #block-aggregator-feed-1 div.views-field-title {
  margin: 0;
  overflow: hidden;
  padding: 0px 0px 0px;
}
div#content aside .block-views ul, div#content aside #block-aggregator-feed-1 ul {
  list-style-type: disc;
  padding-left: 25px;
  padding-right: 5px;
}
div#content aside .block-views ul li, div#content aside #block-aggregator-feed-1 ul li {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 3px;
}
div#content aside .block-views ul li a, div#content aside #block-aggregator-feed-1 ul li a {
  color: #000;
}
div#content aside .block-views div.more-link, div#content aside #block-aggregator-feed-1 div.more-link {
  display: none;
}

@media only screen and (max-width: 600px) {
  #coas img {
    width: 100%;
  }

  #logo {
    text-align: left;
    padding-left: 5px;
  }
  #logo img {
    width: 100%;
    max-width: 287px;
    height: auto;
  }

  #navigation .nav {
    margin-bottom: 15px;
    position: initial;
  }
  #navigation .nav li a {
    border-radius: 4px;
  }
  #navigation #edit-search-block-form--2 {
    padding: 5px 10px;
    width: calc( 100% - 5.5em );
  }
  #navigation #search-block-form {
    margin-bottom: 15px;
    margin-left: 10px;
  }

  #main-content-section {
    margin-right: 15px;
  }

  aside {
    margin-top: 15px;
    padding-left: 0;
  }

  #footer .container > div {
    padding-left: 1px;
  }
  #footer .text-right {
    text-align: left;
    margin-top: 15px;
  }
}
