.bean-image-and-text.landing_page {
  max-width: 300px;

  .image-title {
    position: relative;
    margin-bottom: 11px;
  }

  .image {
    line-height: 0;
    overflow: hidden;
  }

  h2 {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    color: color(white);
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 0.3em;
    font-family: $font-body;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 42px;

    @include bp-nq($medium) {
      font-size: 1.5em;
    }

    &:after {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      content: '';
      background-image: image-url('arrow.svg');
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      width: 42px;
      background-color: color(orange);
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.panel-col-bottom .panels-ipe-portlet-wrapper, // For logged in user
.panel-col-bottom .panel-pane, // Frontpage
.panel-col-middle .panel-pane // Landing page
{
  &:nth-of-type(n) .bean-image-and-text.landing_page h2:after {
    background-color: color(orange);
  }

  &:nth-of-type(2n) .bean-image-and-text.landing_page h2:after {
    background-color: color(green);
  }

  &:nth-of-type(3n) .bean-image-and-text.landing_page h2:after {
    background-color: color(blue);
  }

  &:nth-of-type(4n) .bean-image-and-text.landing_page h2:after {
    background-color: color(red);
  }
}
