// Responsive pager
//
// Markup: pager-responsive.html
//
// Styleguide 4.11.2

.pager-responsive__list,
%pager-responsive__list,
.pager-responsive__list-item,
%pager-responsive__list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pager-responsive,
%pager-responsive {
  @extend %clearfix;
  @extend %pager-responsive__list;
  clear: both;
  margin: $gutter 0 0;
  border: 1px solid color(border);
  background-color: color(grey-off-white);
  line-height: 40px;
  text-transform: uppercase;
}

%pager-responsive__grid-item {
  float: left;
  margin-right: -100%;
  padding: 0;
}

.pager-responsive__pages,
%pager-responsive__pages {
  @extend %pager-responsive__list-item;
  @extend %pager-responsive__grid-item;
  width: 100%;
  border-bottom: 1px solid color(white);
  text-align: center;

  @include bp-nq($large) {
    border-bottom: none;
    padding: 0 25%;
  }
}

.pager-responsive__start-nav,
%pager-responsive__start-nav {
  @extend %pager-responsive__list-item;
  @extend %pager-responsive__grid-item;
  width: 50%;
  clear: left;

  @include bp-nq($large) {
    width: 25%;
    clear: none;
  }
}

.pager-responsive__end-nav,
%pager-responsive__end-nav {
  @extend %pager-responsive__list-item;
  @extend %pager-responsive__grid-item;
  float: right;
  width: 50%;
  margin: 0 0 0 -100%;
  text-align: right;

  @include bp-nq($large) {
    width: 25%;
  }
}

.pager-responsive__item,
%pager-responsive__item {
  display: inline-block;
  border-right: 1px solid color(border);

  &:first-child {
    border-left: 1px solid color(border);
  }
}

.pager-responsive__item-nav,
%pager-responsive__item-nav {
  &,
  &:first-child {
    border: none;
  }
}

.pager-responsive__item-current,
%pager-responsive__item-current {
  padding: 0 15px;
  color: color(white);
  background-color: color(blue);
}

.pager-responsive__link,
%pager-responsive__link {
  display: inline-block;
  padding: 0 15px;

  .pager-responsive__item-nav &,
  %pager-responsive__item-nav & {
    padding: 0 10px;
  }

  &,
  &:visited {
    color: color(grey-extra-dark);
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: color(white);
    background-color: color(blue);
  }
}
