// Search
//
// Markup: search.html
//
// Styleguide 4.2.2

.search--header,
%search--header {
  position: relative;

  @include bp-nq($small) {
    width: 280px;
  }

  @include bp-nq($medium) {
    width: auto;
  }

  @include bp-nq($large) {
    width: 280px;
  }
}

.search--header__item,
%search--header__item {
  margin: 0;
}

.search--header__input,
%search--header__input {
  width: 100%;
  padding-right: ($header-button-height - 2px);
  height: $header-button-height;
  border-color: color(grey-light);
  line-height: $header-button-height;
  background-color: color(white);
}

.search--header__button,
%search--header__button {
  position: absolute;
  top: 1px;
  right: 1px;
  display: block;
  width: ($header-button-height - 2px);
  height: ($header-button-height - 2px);
  padding: 0;
  text-indent: $header-button-height;
  overflow: hidden;
  border: none;
  background: image-url('search__button.png') 50% 50% no-repeat transparent;

  &::before {
    display: none;
  }
}

//
// @TODO: Refactor styles below.
//

.search__form,
%search__form {
  @include pie-clearfix;
  padding: 15px;
  background-color: color(tertiary-light);
  border-top: solid 3px color(primary);

  label {
    float: left;
    margin-right: 15px;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .form-text {
    float: left;
    min-width: 75%;
    margin: rhythm(.5) 0 0;

    @include bp-nq($medium) {
      min-width: 50%;
    }
  }

  .search-form-description {
    font-size: 1.1em;
  }
}

.search__fieldset,
%search__fieldset {
  display: none;
}

.search-results {
  padding: 0 15px;

  .search-snippet-info {
    padding: 0;
    font-style: italic;
  }
}

.view-search form {
  @extend %search__form;

  .views-exposed-form,
  .views-exposed-widget {
    padding: 0;
  }

  .views-widget-filter-keys {
    display: inline-block;
    min-width: 75%;

    @include bp-nq($medium) {
      min-width: 50%;
    }

    input {
      float: left;
      width: 100%;
      margin: rhythm(.5) 0 0;
    }
  }

  .views-submit-button {
    padding: 0;

    input {
      @include adjust-font-size-to(12px);
      clear: left;
      height: 2.1em;
      margin: 0.8em;
      display: inline-block;

      @include bp-nq($large) {
        clear: none;
      }
    }
  }

  .views-exposed-form .views-exposed-widget .form-submit {
    margin-top: 2.7em;
  }
}


// Fugly selectors.
.search-form {
  fieldset {
    @extend %search__fieldset;
  }
}

.block-search-api-page {
  @extend %search--header;

  .form-item {
    @extend %search--header__item;
  }

  .form-text {
    @extend %search--header__input;
  }

  .form-submit {
    @extend %search--header__button;
  }
}
